@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

@theme {
  /* Layout */
  --grid-app: minmax(18rem, 20rem) 1fr;
  --grid-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr) minmax(0, 15rem);

  /* Colors */
  --color-violet-25: #fcfaff;

  --color-error-25: #FFFBFA;
  --color-error-50: #FEF3F2;
  --color-error-100: #FEE4E2;
  --color-error-200: #FECDCA;
  --color-error-300: #FDA29B;
  --color-error-400: #F97066;
  --color-error-500: #F04438;
  --color-error-600: #D92D20;
  --color-error-700: #B42318;
  --color-error-800: #912018;
  --color-error-900: #7A271A;

  /* Animations */
  --animate-fade-in: fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-fade-out: fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: translateY(-5px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-5px) scale(0.95);
  }
}
