@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

@theme {
  --grid-app: minmax(18rem, 20rem) 1fr;
  --grid-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr) minmax(0, 15rem);

  --color-violet-25: #fcfaff; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
